<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.capster.daemon</string>
	<key>KeepAlive</key>
	<true />
	<key>ProgramArguments</key>
	<array>
		<string>/Applications/capster.app/Contents/MacOS/capster</string>
	</array>
	<key>RunAtLoad</key>
	<true />
	<key>StandardErrorPath</key>
	<string>/var/log/capster/stderr.log</string>
	<key>StandardOutPath</key>
	<string>/var/log/capster/stdout.log</string>	
	<key>WorkingDirectory</key>
	<string>/Library/Application Support/capster</string>
</dict>
</plist>
